*foreground:   #eff0eb
*cursorColor:  #9aedfe

*color0:      #33303b
*color8:      #4f4b58
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #5af78e
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #9aedfe
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb

!Font Stuff
URxvt.font:xft:Victor Mono Nerd Font Mono:pixelsize=14
!URxvt.font:xft:DroidSansMono Nerd Font

URxvt.scrollBar: false

!Font Size Change
URxvt.perl-ext-common: ...,font-size
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show

!Padding
URxvt.internalBorder:  10

!Opacity
URxvt.transparent:   true
URxvt.shading:       40
